<%= render template: 'projects/header' %>
<p id="notice"><%= notice %></p>

<h1 class="py-5 text-center">New Project</h1>

<%= render 'form', project: @project, form_class: "form-group" %>

<div class="container">
    <%= button_to 'Cancel', projects_path, :method => "get", class: "btn btn-danger btn-sm" %>
</div>
